<!DOCTYPE html>
<html>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
       <head>
        <title>Dashboard </title>
        <script>

            /*function readyFunction(){
                
                if(localStorage.aveData == null || localStorage.aveData.length == 0)
                    window.location.replace("{{url_for('login')}}");
            }
            readyFunction();
            function signOut(){
                localStorage.clear();
                window.location.reload();
            }
            
            */

        </script>

      </head>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
<div class="ct" id="t1">
    <div class="ct" id="t2">
      <div class="ct" id="t3">
        <div class="ct" id="t4">
          <div class="ct" id="t5">
            <div class="ct" id="t6">
   <section>  
    
      <ul>
        
      <header class=" fa fa-user-circle">ADMIN</header>
      
      <a href="#t1"><li class="icon fa fa-home" id="one"> <span>DASH</span></li></a>
      <a href="#t2"><li class="icon fa fa-handshake" id="two"><span>SCHOOL</span></li></a>
      <a href="#t3"><li class="icon fa fa-coffee" id="three"><span>PARENT</span></li></a>
      <a href="#t4"><li class="icon fa fa-car " id="four"><span>STUDENT</span></li></a>
      <a href="#t5"><li class="icon fa fa-calendar " id="five"><span>EVENT</span></li></a>
      <a href="#t6"><li class="icon fas fa-sign-out-alt" id="six"><span>SIGN-OUT</span></li></a>
    </ul>
  
     <div class="page" id="p1">
      <li class="icon fa fa-home"><span class="title">Dashboard</span><span class="hint">
         </span></li>  
  </div>
        
     </div>
     <div class="page" id="p2">
      <div class="loginbox">
        <img src="school.jpg" class="avatar">
        <h1>Register School </h1>
    <form>
            <p>School name</p>
            <input type="text" name="" placeholder="Enter school name">
            <p>School ID</p>
            <input type="Text" name="" placeholder="Enter school id">
            <p>Phone Number</p>
            <input type="text" name="" placeholder="Enter phone number">
            <p>Address</p>
            <input type="text" name="" placeholder="Address">
            <p>Board</p>
            <input type="text" name="" placeholder="Board">
       
       
        <input type="submit" name="" value="CREATE">
    </form>
    </div>
     </div>  
     <div class="page" id="p3">
      <div class="loginbox">
        <img src="parent.png" class="avatar">
        <h1>Register Parent </h1>
    <form>
            <p>Parent name</p>
            <input type="text" name="" placeholder="Enter school name">
            <p>Email ID</p>
            <input type="Text" name="" placeholder="Enter school id">
            <p>Phone Number</p>
            <input type="text" name="" placeholder="Enter phone number">
            <p>Address</p>
            <input type="text" name="" placeholder="Address">
            <p>Office Address</p>
            <input type="text" name="" placeholder="Board">
       
       
        <input type="submit" name="" value="CREATE">
    </form>
    </div>
     </div>
     <div class="page" id="p4">
      <div class="loginbox">
        <img src="student.jpg" class="avatar">
        <h1>REGISTER STUDENT </h1>
    <form>
            <p>Student name</p>
            <input type="text" name="" placeholder="Enter school name">
            <p>student id</p>
            <input type="Text" name="" placeholder="Enter school id">
            <p>Email id</p>
            <input type="text" name="" placeholder="Enter phone number">
            <p>Phone no:</p>
            <input type="text" name="" placeholder="Address">
            <p>Address</p>
            <input type="text" name="" placeholder="Board">
       
       
        <input type="submit" name="" value="CREATE">
    </form>
    </div>
     </div>  
     <div class="page" id="p5">
      <div class="loginbox">
        <img src="event.jpg" class="avatar">
        <h1>REGISTER EVENT </h1>
    <form>
            <p>Event name</p>
            <input type="text" name="" placeholder="Evnet name">
            <p>second field</p>
            <input type="Text" name="" placeholder="second input">
            <p>third field</p>
            <input type="text" name="" placeholder="third input">
            <p>fourth field</p>
            <input type="text" name="" placeholder="fourth input">
            <p>fifth field</p>
            <input type="text" name="" placeholder="fifth input">
       
       
        <input type="submit" name="" value="CREATE">
    </form>
    </div>
 </div> 


 <div class="page" id="p6">
  <div class="loginbox">
    <img src="event.jpg" class="avatar">
    <h1>REGISTER EVENT </h1>
<form>
        <p>Student name</p>
        <input type="text" name="" placeholder="Enter school name">
        <p>student id</p>
        <input type="Text" name="" placeholder="Enter school id">
        <p>Email id</p>
        <input type="text" name="" placeholder="Enter phone number">
        <p>Phone no:</p>
        <input type="text" name="" placeholder="Address">
        <p>Address</p>
        <input type="text" name="" placeholder="Board">
   
   
    <input type="submit" name="" value="CREATE">
</form>
</div>
</div> 
       
   </section>
          
        </div>
        </div>
      </div>
     </div>
    </div>
  </div>
    </body>
    </head>
</html>