<!DOCTYPE html>
<html>
<head>
<title>Bootstrap basic table example</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<Style> 

body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#e66465, #9198e5);
}
#table{
  table-layout: fixed;
  margin-top: 5%;
  margin-left: none;
  margin-right: none;
  background-color: aliceblue;
  opacity: 0.97;
  border: black;
  border-radius: 5px;
  border: 1px solid black
}
th{
  border: 1px solid black;
  width:10%;
  text-align: right;
}

</Style>
</head>
<body>

<div class="container">
<table id="table">
  <tr id="tr">
      <th>First name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Alternate phone Number</th>
      <th>School Name</th>
      <th> PIN</th>
      <th>School Principal</th>
      <th>School Owner</th>
      <th>AVE Partner?</th>
      <th>School ID</th>
      <th>Residential Add. </th>
      <th>City</th>
      <th>State</th>
      <th>Subject</th>
    </tr>
 
 
</table>
</div><br /><br />

</body>
</html>